<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title color="tertiary">
      Resources & Info
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid fixed>
    <ion-list>
      <ion-item-divider color="none"></ion-item-divider>
      <ion-item button detail lines="none">
        <ion-icon name="navigate-circle-outline" slot="start"></ion-icon>
        <ion-label>
          What is COVID-19?
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-grid>
</ion-content>
