<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tab4"></ion-back-button>
    </ion-buttons>
    <ion-title>Sources</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-list>
      <ion-item-divider color="none"></ion-item-divider>
      <ion-item-divider color="none">
        <ion-label>
          National Sources
        </ion-label>
      </ion-item-divider>
      <ion-item button href="https://covid19.mohp.gov.np/">
        <ion-label>Ministry of Health - Nepal</ion-label>
      </ion-item>
      <ion-item button href="http://www.coronanepal.org/">
        <ion-label>Corona Nepal</ion-label>
      </ion-item>
      <ion-item button href="http://www.nepalrising.org/covid-19">
        <ion-label>Covid Nepal Diaspora Platform</ion-label>
      </ion-item>
      <ion-item button href="https://covid.hamropatro.com/">
        <ion-label>Call to Doctor Sewa (Hamro Patro)</ion-label>
      </ion-item>
      <ion-item button href="https://covidnepal.org/">
        <ion-label>Covid Nepal</ion-label>
      </ion-item>
      <ion-item-divider color="none"></ion-item-divider>
      <ion-item-divider color="none">
        <ion-label>
          International Sources
        </ion-label>
      </ion-item-divider>
      <ion-item button href="https://www.google.com/covid19/">
        <ion-label>Google</ion-label>
      </ion-item>
      <ion-item
        button
        href="https://en.wikipedia.org/wiki/Template:2019%E2%80%9320_coronavirus_pandemic_data"
      >
        <ion-label>Wikipedia</ion-label>
      </ion-item>
      <ion-item
        button
        href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/"
      >
        <ion-label>World Health Organization</ion-label>
      </ion-item>
    </ion-list>
  </ion-grid>
</ion-content>
