<!-- <ion-content [fullscreen]="true"> -->
<ion-content [fullscreen]="true" color="danger">
  <ion-header class="ion-no-border">
    <ion-title>Nepal</ion-title>
  </ion-header>
  <div class="boxed">
    <ion-grid>
      <ion-row>
        <ion-col>
          <div>
            <ion-card color="primary">
              <ion-card-header>
                <ion-card-subtitle>Total Tested (PCR)</ion-card-subtitle>
                <ion-card-title>10,471</ion-card-title>
              </ion-card-header>
            </ion-card>
          </div>
        </ion-col>
        <ion-col>
          <div>
            <ion-card color="tertiary">
              <ion-card-header>
                <ion-card-subtitle>Total Tested (RDT)</ion-card-subtitle>
                <ion-card-title>43,063</ion-card-title>
              </ion-card-header>
            </ion-card>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div>
            <ion-card color="secondary">
              <ion-card-header>
                <ion-card-subtitle>Quarantined</ion-card-subtitle>
                <ion-card-title>20,195</ion-card-title>
              </ion-card-header>
            </ion-card>
          </div>
        </ion-col>
        <ion-col>
          <div>
            <ion-card color="medium">
              <ion-card-header>
                <ion-card-subtitle>Isolated</ion-card-subtitle>
                <ion-card-title>106</ion-card-title>
              </ion-card-header>
            </ion-card>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div>
            <ion-card color="warning">
              <ion-card-header>
                <ion-card-subtitle>Confirmed</ion-card-subtitle>
                <ion-card-title>52</ion-card-title>
              </ion-card-header>
            </ion-card>
          </div>
        </ion-col>
        <ion-col>
          <div>
            <ion-card color="success">
              <ion-card-header>
                <ion-card-subtitle>Recovered</ion-card-subtitle>
                <ion-card-title>16</ion-card-title>
              </ion-card-header>
            </ion-card>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div>
            <ion-card color="dark">
              <ion-card-header>
                <ion-card-subtitle>Dead</ion-card-subtitle>
                <ion-card-title>0</ion-card-title>
              </ion-card-header>
            </ion-card>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
